body{
	margin-top: 70px;
  margin-bottom: 70px;
}

.navbar-static-top{
	margin-bottom:19px;
}
.navbar-default .navbar-nav>li>a {
    cursor: pointer;
}
textarea {
    resize:none
}

.my-list-title{
  font-family: 'Ubuntu';
  color:white;

}
/*
section{
  min-height: 400px;
}*/
.main-title-add{
  font-family: 'Ubuntu';
  padding-top: 70px;
  -webkit-animation: colorchange 1s infinite;
  -webkit-animation-direction: alternate;
/*  text-align: center;*/
  lighting-color: blue;
  margin-left: 30px;
}
#input-list{

  /*background: linear-gradient(to bottom right, #606062, #393939);*/
} 
/* styling form */
#input-list form{
  width: 800px;
  margin: 20px auto;
  text-align: left;
  /*position: relative;*/
  z-index: 1;
  background: white;
  border: 0 none;
  border-radius: 3px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  box-sizing: border-box;
  position: relative;
}

/* styling form input dan textarea, apakah arti dari tanda ',' ? */
#input-list form > .input_name, #input-list form > .input_url{

  padding: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    color: #2C3E50;
    font-size: 13px;
}
.flex{
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  display: flex;
  flex-direction: row;
  column-width: 800px;
  grid-row-gap: 15px;

  
}
.distance{
padding-top: 10px;
}
.friends-item{
  background-color: white;
  text-align: center;
  padding-bottom: 10px;
  flex-basis: 100%;
}