{% extends "layout/base.html" %} 
{% block content %}
<div class="container"  style="margin-top: 60px;">
    <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <h2 class="text-left"> Statistics </h2>
                <div class="media">
                    <div class="media-left media-middle">
                        <img src="https://assets.teenvogue.com/photos/59922529fc885e5cc9aba96e/master/pass/GettyImages-546939180.jpg" class="media-object img-circle" style="width: 205px">
                    </div>
                    <div class="media-body">
                        <h1 style="padding-top: 50px; padding-left: 20px"><strong>{{namaP}}</strong></h1>
                    </div>
                </div>
            </div>
        </div>

</div>

<div class="container"  style="margin-top: 60px;">
	<div class="row text-center">
		<div class="col-sm-8 col-sm-offset-2">
			<div class="col-sm-6">
				<h3><strong>Friends:</strong> {{temen}} People</h3>
			</div>
			<div class="col-sm-6">
				<h3><strong>Feeds:</strong> {{status}} Post</h3>
			</div>
		</div>
	</div>
</div>
<div class="container"  style="margin-top: 60px;">
	<div class="row">
		<div class="col-sm-8 col-sm-offset-2 bg1">
			<strong><h1>Latest Post:</h1></strong>
            <div class="media">
                <div class="media-left">
                    <img src="https://assets.teenvogue.com/photos/59922529fc885e5cc9aba96e/master/pass/GettyImages-546939180.jpg" class="media-object img-thumbnail" style="width:60px">
                </div>
            <div class="media-body">
                <h4 class="media-heading" style="margin-top: 20px"><strong>{{namaP}}</strong></h4>
            </div>
            {% if lastP %}
            <p>{{lastP}}</p>
            <p><small>Posted on {{lastT}}</small></p>
            </div>
            
            
{% endif %}
            
            

		</div>
	</div>
</div>


{% endblock %}
