
{% extends "layout/base.html" %}

{% block content %}
	<div class="container text-center" id="profile-page" style="margin-top: 125px;">
		<div class = "left_top">
			<h4 style="text-align:left;">Profile</h4>
		</div>
			<img class = "img-circle" src ="https://assets.teenvogue.com/photos/59922529fc885e5cc9aba96e/master/pass/GettyImages-546939180.jpg" alt = "Gigi Hadid">
			
			<h3 align = "center" ><strong><strong>{{ name }}</strong></strong></h3>

				<table align = "center" style="text-align: center">
				<tr>
					<td align = "left"><h4>Birthday</h4></td>
					<td align = "left"><h4>{{ Birthday }}</h4></td>
				</tr>
				<tr>
					<td align = "left"><h4>Gender</h4></td>
					<td align = "left"><h4>{{ Gender }}</h4></td>
				</tr>
				<tr>
					<td align = "left"><h4>Expertise</h4></td>
					<td align = "left">
						<h4>
						<ul>
							{% for ii in expertise %}
								<li class="li1">{{ ii }}</li>
							{% endfor %}
							</h4>
						</ul>
					</td>
					
				</tr>
				<tr>
					<td align = "left"><h4>Description</h4></td>
					<td align = "left"><h4>{{  Description }}</h></td>
				</tr>
				<tr>
					<td align = "left"><h4>Email</h4></td>
					<td align = "left"><h4>{{ Email }}</h4></td>
				</tr> 
				</table>
			</div>
}
	

{% endblock %}