

/* Custom navbar style */
.navbar-static-top {
  margin-bottom: 19px;
}
.navbar-default .navbar-nav>li>a {
    cursor: pointer;
}

/* styling footer */
footer p{
  text-align: center;
  padding-top: 10px;
}
body {
    margin-top: 70px;
	font-family: Raleway;
	background: #36D1DC;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #5B86E5, #36D1DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


.li1 {
	display: inline;
	padding: 3px;
	background: lightblue;
	border-radius: 2px;
    list-style: none;
}
.img-circle{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    border: 2px solid #9D9F93;
}


}
 .center_top {
    position: absolute;
    width: 500px;
    height: 50px;
    top: 50%;
    left: 60%;
    margin-left: -250px; /* margin is -0.5 * dimension */
    margin-top: -25px;
}
.center_screen {
    position: absolute;
    width: 500px;
    height: 50px;
    top: 60%;
    left: 50%;
    margin-left: -250px; /* margin is -0.5 * dimension */
    margin-top: -25px;
}
.left_top{
    position: absolute;
    width: 500px;
    height: 50px;
    top: 15%;
    left: 10%;
    margin-left: -250px; /* margin is -0.5 * dimension */
    margin-top: -25px;

}
@media and (max-width: 768px;) {
	.li1 {
		display: flex;
}
