{% extends "layout/base.html" %}


{% block content %}
<style type="text/css">
	section{
  min-height: 400px;
}
</style>
<h1 class="main-title-add">ADD FRIENDS</h1>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<hr/>
<section name="input-list" id="input-list">
    <div class="container">
    	<form id="form" method="POST" action="{% url 'add-friends:add' %}">
    		{% csrf_token %}
    		{{ add_friends_form }}
    		<input id="submit" type="submit" class="btn btn-lg btn-block btn-info" value="Submit">
    		<br>
    	</form>
    </div>
</section>

<section name="my-friends" id="my-friends" style="padding-bottom: 100px">
	<div class="container">
		<h2 class="my-list-title">My Friends</h2>
		<div class="flex">
			{% if friends %}
				{% for data in friends %}
					<div class="friends-item">
						<div class="friends-item-name" style="background-color: grey">
							{{data.name}}
						</div>
                        <div class="frieds-item-date">
                            {{data.created_date}}
                        </div>
						<div class="friends-item-url"">
							{{data.url}}
						</div>
					</div>
					<div class="distance">
						<br>
					</div>
				{% endfor %}
            {% else %}
            <div class="alert alert-dark text-center">
                <strong>Oops!</strong> You haven't have any friends yet:(.
            </div>
            {% endif %}

		</div>
	</div>
</section>
{% endblock %}        
