<div class="bs-example">
    <nav class="navbar navbar-default navbar-fixed-top">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand">Ling In</a>
        </div>
        <!-- Collection of nav links and other content for toggling -->
        <div id="navbarCollapse" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/update-status/">Status</a></li>
                <li><a href="/halaman-profile/">Profile</a></li>
                <li><a href="/add-friends/">Friends</a></li>
                <li><a href="/menu-stats/">Stats</a></li>
            </ul>
        </div>
    </nav>
</div>
</body>
</html>                            