body{
  margin-top: 70px;
}

/* Custom navbar style */
.navbar-static-top {
  margin-bottom: 19px;
}
.navbar-default .navbar-nav>li>a {
    cursor: pointer;
}

/* styling footer */
footer p{
  text-align: center;
  padding-top: 10px;
}